<h1>Nova Enquete</h1>
<form action="/criar" method="POST">
    Título: <input type="text" name="titulo"><br>
    Início: <input type="datetime-local" name="inicio"><br>
    Fim: <input type="datetime-local" name="fim"><br>
    Opções: <br>
    <input type="text" name="opcoes"><br>
    <input type="text" name="opcoes"><br>
    <input type="text" name="opcoes"><br>
    <button type="submit">Criar</button>
</form>